.body {
	margin: auto;
	max-width: 60%;
	height: 100%;
	background-color: black;
	color: rgb(251, 207, 0);
	overflow: hidden;
	perspective: 500px;
	text-align: center;
}
.title {
	font-size: 60px;
	line-height: 2.5;
}
.container {
}
.text-info {
	animation: anima 30s linear infinite;
}

.paragraph {
	font-size: 45px;
	line-height: 1.5;
	text-align: justify;
}
@keyframes anima {
	from {
		transform: scale3d(1, 1, 1.8) rotateX(30deg) translateY(50%);
	}

	to {
		transform: scale3d(1, 1, 1.8) rotateX(30deg) translateY(-100%);
	}
}
.audio {
	position: absolute;
	left: 0;
	top: 0;
}
